問題を編集します
<table>
<%= form_with model: @question, local: true do |f| %>

  <tr><td><%= f.label :question, "問題" %></td></tr>
  <tr><td><%= f.text_area :question, rows: 5, cols: 60 %></td></tr>
  <tr><td><%= f.label :judge, "正誤判定" %></td></tr>
  <tr><td><%= f.radio_button :judge, :〇, default: true %><%= f.label :judge, "〇" %></td></tr>
  <tr><td><%= f.radio_button :judge, :× %><%= f.label :judge, "×" %></td></tr>
  <tr><td><%= f.label :explanation, "解説" %></td></tr>
  <tr><td><%= f.text_area :explanation, rows: 5, cols: 60 %></td></tr>
  
  <td><%= f.submit "編集完了！" %><td></tr>

<% end %>
</table>